<article class='article'>
	<header class='article_header'>
		<h1><%= title %></h1>
	</header>
	<div class='article_body'>
		<%- MDText %>		
	</div>
	<footer class='article_footer'>
		<%- PaginationHTML %> 	
	</footer>
</article>
