<aside class='aside'>
	<% for(var i in Articles){ %>
		<a <%= Articles[i].DocName=== title ? 'class=current' :'' %>  href='<%= Articles[i].FileName %>'><%= Articles[i].DocName %></a>
	<% } %>
</aside>