<!DOCTYPE html>
<html>
  <head>
      <%- include('controls/head') %>
  </head>
  <body>
      <%- include('controls/header') %>
      <div class='container'>
          <%- include('controls/aside') %>
          <div class='main'>
            
          </div>
      </div>
      <%- include('controls/footer') %>
  </body>