<!DOCTYPE html>
<html>
  <head>
  		<%- include('controls/head') %>

  </head>
  <body>
  		<%- include('controls/header') %>
      	<div class='container'>

      	</div>	
      <%- include('controls/footer') %>
  </body>
</html>